# --- APPLICATION CONFIGURATION ---
APP_NAME=AI-Powered-Web-App

# --- DATABASE CONFIGURATION ---
MONGO_URL=mongodb://localhost:27017/
DB_NAME=ai_powered_web_app

# --- LLM PROVIDERS API KEYS ---
GROQ_API_KEY=your_groq_api_key_here
GOOGLE_API_KEY=your_google_api_key_here

# --- JWT AUTHENTICATION ---
SECRET_KEY=your_secret_key_here

# --- EMAIL CONFIGURATION ---
EMAIL_ADDRESS=your_email_address_here
EMAIL_PASSWORD="your_email_password_here"
